.header {
  background-color: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 147px;
  & .logo {
    display: flex;
  }
}
.right {
  display: flex;
}
