.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2rem;
  padding-bottom: 2rem;
  cursor: pointer;
}

.cart {
  display: block;
  background-color: transparent;
  border: none;
  padding-right: 0.4rem;
  &.count {
    font-size: 1.1rem;
    margin-right: 0.5rem;
  }
  & svg path {
    transition: stroke 0.4s ease;
    stroke: var(--dark);
  }
  &:hover svg path {
    stroke: #b9b9b9;
  }
}
