.container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.image {
  flex: 0 0 auto;
  width: 33%;
  @media (max-width: 650px) {
    align-self: center;
    width: 50%;
  }
}

.content {
  flex: 0 0 auto;
  width: 60%;
  text-align: left;
  @media (max-width: 650px) {
    width: 100%;
  }
  & .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  & .manufacture {
    margin-bottom: 1.5rem;
  }
  & .rating {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    & .rate {
      display: flex;
      align-items: center;
      & svg {
        margin-right: 0.5rem;
      }
    }
    & .estimate {
      margin: 1rem 0 1.5rem;
      display: flex;
      align-items: center;
      & div {
        margin-left: 1rem;
        display: flex;
      }
    }

    & input[type='radio'] {
      display: none;
    }
    & .star {
      cursor: pointer;
      font-size: 2rem;
      margin-right: 5px;
    }
  }
  & .available {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    & svg {
      margin-left: 0.5rem;
    }
  }
  & .price {
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}

.bottom {
  margin-top: 2rem;
  & .tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .tab {
      flex: 0 0 33.3%;
      font-size: 1.1rem;
      padding: 1rem;
      text-align: center;
      cursor: pointer;
      background-color: var(--light-grey);
      &.active {
        background-color: var(--grimmy-grey);
        color: var(--white);
      }
    }
  }
  & .text {
    padding: 2rem 2rem;
    background-color: var(--light-grey);
    text-align: left;
  }
  & .description {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  & .title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  & table {
    width: 100%;
    border-spacing: 0 1rem;
    & tr {
      margin: 20px auto;
      width: 100%;
    }
  }
}
.add-to-cart {
  border: 1px solid var(--grimmy-grey);
}