.container {
  padding: 0!important;
}

.header {
  background-color: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 147px;
  position: relative;
  z-index: 5000;
  & .logo {
    display: flex;
  }
}
.right {
  display: flex;
}
